html {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

header {
  height: 4rem;
  background-color: #222;
  padding: 0px 25px;
  color: #FFF;

  box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.2);

  background: linear-gradient(90deg, rgb(70, 35, 74) 0%, rgb(113, 19, 167) 100%);
}